# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/

# Android / iOS build artifacts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/
ios/

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# Environment & Secrets
.env
.env*.local
secrets.h

# macOS
.DS_Store
*.swp
